html {
    box-sizing: border-box;
    }
img {
    height: auto;
    width: 100%;
}

/*fonts*/
@font-face {
    font-family: 'DM Sans Regular';
    src: url('fonts/DMSans-Regular.woff2') format('woff2'),
        url('fonts/DMSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DM Sans Bold';
    src: url('fonts/DMSans-Bold.woff2') format('woff2'),
         url('fonts/DMSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}


* {
    /*
    margin: 0;
    */
    padding: 0;
    
font-family: 'DM Sans Regular', sans-serif;
}


/*drop down navigation -- FIX*/

nav ul li{
    list-style: none;
    margin-top: 0;
    text-align: flex;
    font-size: 1.5rem;
    padding: 0;
    line-height: 2rem;   
   
}


/*logo- fix logo cropping, turn to png*/
.logo {
    margin: 2rem;
    padding: none;
}



.name {
    font-size: 500%;
    margin: 2rem 1rem 0rem 1rem;
    padding: 1rem;
}

.projects {
    background: #98C0C6 ;
    margin: auto;
    padding-top: 0.5rem;
    text-align: center;
}
h5 {
    font-size: 18pt;
}


.tagline {
    margin: 2rem 1rem 1rem 1rem
    font-size: 16pt;
}
footer {
    background: #98C0C6;
    padding: 1rem;
    text-align: center;
}

.social {
    text-align: center;
}

.pic {
    position: fixed;
    z-index: -10;
}

/*collider news page*/
.collidercontent {
    margin: 2rem;
    text-align: left;
}

.image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
}